{% load wagtailadmin_tags %}
<section class="w-panel w-panel--dashboard" aria-labelledby="unveil-panel-heading">
    <div class="w-panel__header">
        <h2 class="w-panel__heading" id="unveil-panel-heading">Wagtail Unveil</h2>
    </div>
    <div class="w-panel__content" style="padding: 0.5em 1em;">
        <p>View the reports and diagnostics:</p>
        <a href="{% url 'wagtail_unveil:report_backend_urls' %}" rel="noopener noreferrer" class="button button-small button-secondary">View Backend URLs Report</a>
        <a href="{% url 'wagtail_unveil:report_frontend_urls' %}" rel="noopener noreferrer" class="button button-small button-secondary">View Frontend URLs Report</a>
        <a href="{% url 'wagtail_unveil:report_settings' %}" rel="noopener noreferrer" class="button button-small button-secondary">View Unveil Settings</a>
    </div>
</section>
