<nav class="report-nav">
    <a{% if active_report == "backend" %} class="active"{% endif %} href="{% url 'wagtail_unveil:report_backend_urls' %}">Backend URLs</a>
    <a{% if active_report == "frontend" %} class="active"{% endif %} href="{% url 'wagtail_unveil:report_frontend_urls' %}">Frontend URLs</a>
    <a href="{% url 'wagtailadmin_home' %}">Wagtail Admin</a>
    <a{% if active_report == "settings" %} class="active settings-link"{% else %} class="settings-link"{% endif %} href="{% url 'wagtail_unveil:report_settings' %}">Settings</a>
</nav>
