{% load static wagtailcore_tags wagtailuserbar wagtailimages_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>
      {% block title %}
        {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
      {% endblock %}
      {% block title_suffix %}
        {% wagtail_site as current_site %}
        {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
      {% endblock %}
    </title>
    {% if page.search_description %}
      <meta name="description" content="{{ page.search_description }}" />
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Force all links in the live preview panel to be opened in a new tab #}
    {% if request.in_preview_panel %}
      <base target="_blank">
    {% endif %}

        {# Global stylesheets #}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/example_project.css' %}">

    {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
    {% endblock %}
  </head>

  <body class="{% block body_class %}{% endblock %}">
    {% wagtailuserbar %}

    <header>
      <div class="container">
        {% block header %}
          <h1>{{ page.title }}</h1>
        {% endblock %}
      </div>
    </header>

    {% block banner_image %}
      {% if page.banner_image %}
        <div class="container">
          {% image page.banner_image fill-1920x720 %}
        </div>
      {% endif %}
    {% endblock banner_image %}

    <main>
      <div class="container">
        {% block content %}
          {% if not settings.core.ExampleMessageSiteSettings.empty_content_message %}
            <p>Run the command <code>python manage.py generate_content</code> to populate the database with example content.</p>
          {% endif %}
          <p>{{ settings.core.ExampleMessageSiteSettings.empty_content_message|safe }}<p>
        {% endblock %}
      </div>
    </main>

    <footer>
      <div class="container">
        {% block footer %}
          <p>{{ settings.core.ExampleFooterGenericSettings.footer|safe }}<p>
            <p>
              &copy; {{ current_year }} Example Project |
              <a href="https://github.com/nm-packages/wagtail-unveil">Wagtail-Unveil</a> |
              Template: {{ request.resolver_match.view_name }} |
              Styling: <a href="https://picocss.com/">Pico CSS</a>
            </p>
        {% endblock %}
      </div>
    </footer>

        {# Global javascript #}
    <script type="text/javascript" src="{% static 'js/example_project.js' %}"></script>

    {% block extra_js %}
        {# Override this in templates to add extra javascript #}
    {% endblock %}
  </body>
</html>
